<div class="container">
    <h1 class="text-center text-danger">Videos de Youtube</h1><hr>

    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let video of Videos">
          <img [src]=" video.thumbnails.high.url |noImage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-danger">{{ video.title }}</h5>
            <button class="btn btn-outline-danger btn-block" (click)="VerVideo(video)">
                Ver video
            </button>
          </div>
        </div>
    </div>
    <button class="btn btn-outline-danger btn-block" (click)="CargarMas()">Mostrar mas...</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
 data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="SelectedVideo != null">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ SelectedVideo.title }}</h5>
        </div>
        <div class="modal-body">
            <iframe width="100%" height="300" [src]="SelectedVideo.resourceId.videoId |videoYt" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="CerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
</div>
